body{
    background-color: white!important;
}

header{
    height: 15vh;

}

main{
    height: 75vh;
    background-color: aquamarine;
}

footer{
    height: 10vh;
}

#grid-container{
    width: 90vw;
    height: 60vh;
    background-color: bisque
}

.easy-cell{
    width: calc(100% / 10);
    aspect-ratio: 1/1;
}

.medium-cell{
    width: calc(100% / 9);
    aspect-ratio: 1/1;
}

.hard-cell{
    width: calc(100% / 7);
    aspect-ratio: 1/1;
}

.cell:hover{
    filter: rgb(0, 0, 0, .2);
    cursor: pointer;
}

.safe-number{
    background-color: rgb(0, 128, 0, 0.8);
}

.boom{
    background-color: red;
}
